body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #53c460;
        }
        header {
            background-color: #3fd597;
            padding: 10px 0;
            text-align: center;
            color: rgb(73, 37, 135);
        }
        header {
            height: 100px;
            background-color: #29b689;
        }
        
        .bgimg {
            background: url('C:\Users\M.RITHIKA\Documents\vs code\images\bg.jpg');
        }
        nav a {
            margin: 0 15px;
            text-decoration: none;
            color: #7123b6;
            font-weight: bold;
        }
        section {
            padding: 200px;
        }
        footer {
            background-color: #81b894;
            text-align: center;
            padding: 10px;
            color: white;
            position: fixed;
            bottom: 0;
            height:25px;
            width: 100%;
        }
        .form-group {
            margin-bottom: 15px;
        }
        label {
            display: block;
            margin-bottom: 5px;
        }
        input[type="text"], input[type="email"], input[type="password"] {
            width: 100%;
            padding: 8px;
            box-sizing: border-box;
        }
        button {
            background-color: #4CAF50;
            color: white;
            padding: 10px;
            border: none;
            cursor: pointer;
        }
        button:hover {
            background-color: #23ae3c;
        }
        .product {
            display: inline-block;
            width: 200px;
            padding: 15px;
            margin: 10px;
            border: 1px solid #d2bfe1;
            background-color: rgb(163, 91, 91);
            text-align: center;
        }
        .product img {
            width: 100%;
            height: auto;
        }
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f3f8f7;

            }
         header {
            background-color: #47cb47;
            padding: 10px 0;
            text-align: center;
            color: white;
        }
        nav {
            margin: 15px 0;
            text-align: center;
            
        }
        nav a {
            margin: 0 15px;
            text-decoration: none;
            color: #590ee3f6;
            font-weight: bold;
        }
        section {
            padding: 20px;
            
        }
        .form-group {
            margin-bottom: 15px;
        }
        label {
            display: block;
            margin-bottom: 5px;
        }
        input[type="text"], input[type="email"], input[type="password"] {
            width: 100%;
            padding: 8px;
            box-sizing: border-box;
        }
        button {
            background-color: #1fe11f;
            color: white;
            padding: 10px;
            border: none;
            cursor: pointer;
        }
        button:hover {
            background-color: #438343;
        }
        .product {
            display: inline-block;
            width: 200px;
            padding: 15px;
            margin: 10px;
            border: 1px solid #0b000b;
            background-color: rgb(204, 195, 217);
            text-align: center;
        }
        .product img {
            width: 100%;
            height: auto;
        }
        product h3 {
            margin: 10px 0;
            font-size: 1.2em;
        }
        
        
        