body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #8e8ed8;
    margin: 0;
}

.login-container {
    background-color: #ac6293;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(191, 174, 174, 0.1);
    width: 300px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #509867;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #4a54e1;
}

#error-message {
    color: red;
    text-align: center;
    margin-top: 10px;
}
.btn{
    background-color: #e67e22;;
    color: white;
    padding: 10px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    width: 100px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 10px auto;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .login-container {
        width: 90%;
        padding: 15px;
    }
}

@media screen and (max-width: 480px) {
    .login-container {
        width: 95%;
        padding: 10px;
    }

    button {
        padding: 12px;
    }

    h2 {
        font-size: 1.5em;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"] {
        padding: 10px;
    }
}